<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}http://the.ndero.ovh/MyURLSaver{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Welcome to myURL Saver</h1>
      <h2>This website will allow you to save and retrieve your favorite urls from anywhere !</h2>
      <h2>Please authenticate:</h2>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
