<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <title>{% block title %}https://the.ndero.ovh/MyURLSaver/{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <link href="{% static 'MyURLSaver_app/URLSaver.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="blog-masthead">
            <div class="container">
                <div class="row">
                    <div class="col blog-main">
                        <header>
                            <div class="top-header">
                                <h1>Welcome to myURL Saver</h1>                                
                                <p>This website will allow you to save and retrieve your favorite urls from anywhere !</p>
                                <hr>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
                                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
                            </div>
                        </header>
                        <main>
                            {% block content %}
                            {% endblock %}

                            {% if user.is_authenticated %} 
                            <div id="AddNewURL"></div>
                            <div id="GetRegisteredURLs"></div>
                            <script>
                                $( "#AddNewURL").load("addurls/");
                                $( "#GetRegisteredURLs").load("seeurls/");
                            </script>          
                            {% else %}
                            <div class="signupsignin">
                                <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
                            </div>
                            {% endif %}

                        </main>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
