<div class="container-fluid">
    Saved urls:
    <div class="seeurlstyle">     
        {% for url in user.urls.all %}
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="{{ url.url_name }}"> {{ url.url_name }}</a>
                </div>
                <div class="col-md-2">
                    <form action="delurls/" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="url" name="url" value="{{ url.url_name }}">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
