/*
 * Globals
 */

/*
@media (min-width: 720px) {
    .container {
        width: 50%;
    }
}*/


body {
   background-image: url("blurred.jpg");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-size: cover;
}

.mh-100{ 
    color:white;
    text-align: center;
}


.urls{ 
    color:white;
    text-align: center;
}

.helper{ 
    color:white;
    text-align: center;
}

.top-header { 
    color:white;
    text-align: center;
}

.welcome {
    margin-bottom: 1rem; 
    color:white;
    text-align: center;
}

.addurlsstyle {
    margin-bottom: 1rem; 
    color:white;
    text-align: center;
}

.signupsignin {
    margin-bottom: 1rem; 
    color:white;
    text-align: center;
}

.seeurlstyle {
    margin-bottom: 1rem; 
    color:white;
    text-align: left;
    border-style: solid;
    border-width: thin;
}





